
   body {
      font-family: Arial;
      padding: 200px 200px 200px 200px;
      background: white;
    }

    /* Header/Blog Title */
    header {
      padding: 30px;
      text-align: center;
      background: white;
    }
   

    /* WAVE */

    .progress {
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -50px 0 0 -50px;
    }

    .progress span {
      transition: all 500ms ease;
      background: #4A72DA;
      box-shadow: 1px 2px 3px #999;
      height: 2px;
      width: 2px;
      display: inline-block;
      border-radius: 5px;
      animation: wave 2s ease infinite;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
}

    .progress span:nth-child(1) {
      animation-delay: 0;
    }

    .progress span:nth-child(2) {
      animation-delay: 100ms;
    }

    .progress span:nth-child(3) {
      animation-delay: 200ms;
    }

    .progress span:nth-child(4) {
      animation-delay: 300ms;
    }

    .progress span:nth-child(5) {
      animation-delay: 400ms;     
    }

    .progress span:nth-child(6) {
      animation-delay: 500ms;
    }

    .progress span:nth-child(7) {
      animation-delay: 600ms;
    }

    .progress span:nth-child(8) {
      animation-delay: 700ms;
    }

    .progress span:nth-child(9) {
      animation-delay: 800ms;
    }

    .progress span:nth-child(10) {
      animation-delay: 900ms;
    }

    .progress span:nth-child(11) {
      animation-delay: 1000ms;
    }

    .progress span:nth-child(12) {
      animation-delay: 1100ms;
    }

    .progress span:nth-child(13) {
      animation-delay: 1200ms;
    }

    .progress span:nth-child(14) {
      animation-delay: 1300ms;
    }

    .progress span:nth-child(15) {
      animation-delay: 1400ms;
    }

    .progress span:nth-child(16) {
      animation-delay: 1500ms;
    }

    .progress span:nth-child(17) {
      animation-delay: 1600ms;
    }

    .progress span:nth-child(18) {
      animation-delay: 1700ms;
    }

    .progress span:nth-child(19) {
      animation-delay: 1800ms;
    }

    .progress span:nth-child(20) {
      animation-delay: 1900ms;
    }

    .progress span:nth-child(21) {
      animation-delay: 2000ms;
    }

    .progress span:nth-child(22) {
      animation-delay: 2100ms;
    }

    .progress span:nth-child(23) {
      animation-delay: 2200ms;
    }

    .progress span:nth-child(24) {
      animation-delay: 2300ms;
    }

    .progress span:nth-child(25) {
      animation-delay: 2400ms;
    }

    .progress span:nth-child(26) {
      animation-delay: 2500ms;
    }

    .progress span:nth-child(27) {
      animation-delay: 2600ms;
    }

    .progress span:nth-child(28) {
      animation-delay: 2700ms;
    }

    .progress span:nth-child(29) {
      animation-delay: 2800ms;
    }

    .progress span:nth-child(30) {
      animation-delay: 2900ms;
    }

    /* TÄSTÄ Korkea AALTO*/


    .progress span:nth-child(31) {
      animation-delay: 3000ms;
}

    .progress span:nth-child(32) {
      animation-delay: 3100ms;
      
}

    .progress span:nth-child(33) {
      animation-delay: 3200ms;
      
}

    .progress span:nth-child(34) {
      animation-delay: 3300ms;
      
}

    .progress span:nth-child(35) {
      animation-delay: 3400ms;
      
}

    .progress span:nth-child(36) {
      animation-delay: 3500ms;
     
}

    .progress span:nth-child(37) {
      animation-delay: 3600ms;
      
}

    .progress span:nth-child(38) {
      animation-delay: 3700ms;
      
}

    .progress span:nth-child(39) {
      animation-delay: 3800ms;
      
}

    .progress span:nth-child(40) {
      animation-delay: 3900ms;
     
}

    .progress span:nth-child(41) {
      animation-delay: 4000ms;
      
}

    .progress span:nth-child(42) {
      animation-delay: 4100ms;
      
}

    .progress span:nth-child(43) {
      animation-delay: 4200ms;
    }

    @keyframes wave {
0%
25%
40%
75% 
100% 
{
        transform: translate(0, 0);
        background-color: rgb(12, 37, 102);
      }

      10% {
        transform: translate(0, -15px);
        background-color: turquoise;
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
    }

  }

 .stage {
   border-bottom: 3px solid #444;
   display: flex;
   height: 100px;
   width: 100%;
 }

 .box {
   align-self: center;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   background-color: #F44336;
   height: 20px;
   margin: 0 auto 0 auto;
   transform-origin: bottom;
   width: 20px;
    background-position: right; 
 }

 .bounce-7 {
   animation-name: bounce-7;
   animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
 }

 @keyframes bounce-7 {
   0% {
     transform: scale(1, 1) translateY(0);
   }

   10% {
     transform: scale(1.1, .9) translateY(0);
   }

   30% {
     transform: scale(.9, 1.1) translateY(-100px);
   }

   50% {
     transform: scale(1.05, .95) translateY(0);
   }

   57% {
     transform: scale(1, 1) translateY(-7px);
   }

   64% {
     transform: scale(1, 1) translateY(0);
   }

   100% {
     transform: scale(1, 1) translateY(0);
   }
 }